@import "tailwindcss";

:root {
  --color-navy: #3c4b64; /* 네이비 */
  --color-blue: #007bff; /* 파란색 */
  --color-gray: #6c757d; /* 회색 */
  --color-white: #ffffff; /* 하얀색 */
  --color-black: #000000; /* 검정색 */
}

html {
  font-size: 16px; /* 1rem = 16px */
}

/* 화면이 768px 이하일 때 폰트 크기 축소 */
@media (max-width: 768px) {
  html {
    font-size: 14px; /* 1rem = 14px */
  }
}

/* 화면이 480px 이하일 때 더 축소 */
@media (max-width: 480px) {
  html {
    font-size: 12px; /* 1rem = 12px */
  }
}
